<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../static/css/estilosLogin.css">
</head>
<body>
    <section id="loginSection">
        <div class="PersonalInformation">
            <div class="">
                <form action="{{url_for('register')}}" method="post">
                    <h2> Registrarse </h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="username" required>
                        <label>Nombre de Usuario</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label>Contraseña</label>
                    </div>

                    <input id="subirDatos" type="submit" value="Entrar">

                    <!--
                    <div class="forget">
                        <label><input type="checkbox">Recuerdame <a href="#"> Olvide mi contraseña</a>
                        </label>
                    </div>
                    -->
                    <div class="register">
                        <p> Ya tengo una cuenta. <a id="redirectLogin" href="{{url_for('login')}}">Iniciar Sesion</a></p>
                    </div>
                </form>
            </div>
        </div>

        <!-- Esto es un mensaje que le aparece al usuario si su
        usuario ya existe o su email ya se ha usado en otra cuenta -->
        {% if message %}
        <div class="error-container">
            <div class="error-message">
                <p>{{ message }}</p>
            </div>
        </div>
        {% endif %}

    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>